<!DOCTYPE html>
<html ng-app="app">

<head>
    <% include static/head %>
</head>

<body class="hold-transition skin-blue sidebar-mini ng-cloak">

    <div class="wrapper">

        <!-- Header -->
        <% include static/header %>

        <!-- Menu -->
        <% include static/menu %>

        <!-- Content -->
        <%- include(template)%>

        <!-- Footer -->
        <% include static/footer %>

    </div>

    <% include static/scripts %>

</body>

</html>
